/*font link*/
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap');

* {
    margin: 0px ;
    padding: 0px ; 
}

body {
    font-family: "Mona Sans", sans-serif;
}

html {
    scroll-behavior: smooth ;
}

p{
    color: rgb(104, 103, 103);
}

a, .btn{
    transition: all 300ms ease;
    color: black;
     font-weight: 500;
     
}

nav, .navlinks {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 10px;
   
}

.logo {
    padding: 10px;
    font-weight: 600;
}

nav {
    justify-content: center;
}